extends layout

block content
  .container
    h1 Add Product

    // Form to add a new Product
    form(action="/admin/products/new" method="POST")
      .mb-3
        label(for="name") Name
        input#name.form-control(type="text" name="name" required placeholder="Enter product name")

      .mb-3
        label(for="model") Model
        input#model.form-control(type="text" name="model" required placeholder="Enter product model")

      .mb-3
        label(for="length") Length (cm)
        input#length.form-control(type="number" name="length" required min="0" placeholder="Enter product length")

      .mb-3
        label(for="material") Material
        input#material.form-control(type="text" name="material" placeholder="Enter snowboard material (optional)")

      .mb-3
        label(for="price") Price ($)
        input#price.form-control(type="number" name="price" required step="0.01" min="0" placeholder="Enter product price")

      .mb-3
        label(for="imageUrl") Image URL
        input#imageUrl.form-control(type="url" name="imageUrl" placeholder="Enter image URL (optional)")

      // Submit Button
      button.btn.btn-primary(type="submit") Add Product

      // Cancel Button
      a.btn.btn-secondary(href="/admin/products") Cancel
