extends layout

block content
  section.hero
    .overlay
    .container.text-center
      h1.display-4 Winter Pulse
      p.lead.mt-3 Готов ли си за следващото приключение? Намери идеалния сноуборд и екипировка при нас!
      a.btn.btn-primary.btn-lg.mt-4(href="/products") Към магазина

