doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
    link(rel='stylesheet', href='/stylesheets/loginForm.css')
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
  body
    //- Navbar remains unchanged
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href='#')
          img(width='70' height='70' src='/images/Snowboard Logo white.png')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Начало
            if user
              if user.role == 'admin'
                li.nav-item
                  a.nav-link(href='/products/new') Добави нов Модел
              li.nav-item
                a.nav-link(href='/products/favorites') Моите любими
            li.nav-item
              a.nav-link(href='/products') Всички сноуборди
          form.d-flex(action='/products' method='GET' role='search')
            input.form-control.me-2(name='productFilter' type='search' productholder='продукт' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Търси
          ul.nav.navbar-nav.navbar-right
            // Cart icon with counter badge
            li.nav-item.position-relative
              a.nav-link(href='/cart')
                img(src='/images/cart.png' alt='Cart' style='width:32px; height:32px;')
                span#cart-count.badge.bg-danger.position-absolute 0 // initial cart count
            if !user
              li.nav-item
                a.nav-link(href='/users/register')
                  i.fas.fa-user.link-icon
                  span Регистрация
              li.nav-item
                a.nav-link(href='/users/login')
                  i.fas.fa-sign-in-alt.link-icon
                  span Влизане
            else 
              li.nav-item
                a.nav-link(href='/users/logout')
                  i.fas.fa-sign-in-alt.link-icon
                  span Изход

    //- Sidebar appears only on the index page
    if page == 'index'
      aside#sidebar
        ul
          li.active
            a(href="index.html")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z")
              span Home
          li
            a(href="dashboard.html")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z")
              span Dashboard
          li
            button(onclick="toggleSubMenu(this)", class="dropdown-btn")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z")
              span Create
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z")
            ul.sub-menu
              div
                li
                  a(href="#") Folder
                li
                  a(href="#") Document
                li
                  a(href="#") Project
          li
            button(onclick="toggleSubMenu(this)", class="dropdown-btn")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M222-200 80-342l56-56 85 85 170-170 56 57-225 226Zm0-320L80-662l56-56 85 85 170-170 56 57-225 226Zm298 240v-80h360v80H520Zm0-320v-80h360v80H520Z")
              span Todo-Lists
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z")
            ul.sub-menu
              div
                li
                  a(href="#") Work
                li
                  a(href="#") Private
                li
                  a(href="#") Coding
                li
                  a(href="#") Gardening
                li
                  a(href="#") School
          li
            a(href="calendar.html")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z")
              span Calendar
          li
            a(href="profile.html")
              svg(xmlns="http://www.w3.org/2000/svg", height="24px", viewBox="0 -960 960 960", width="24px", fill="#5f6368")
                path(d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z")
              span Profile

    .main-content
      block content

    script(src="/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/javascripts/sidebar.js")
    script.
      // Function to update cart count in navbar
      function updateCartCount() {
          const cart = JSON.parse(sessionStorage.getItem('cart')) || [];
          const cartCount = cart.reduce((total, item) => total + item.quantity, 0);
          document.getElementById('cart-count').textContent = cartCount;
      }

      // Initialize cart count on page load
      document.addEventListener('DOMContentLoaded', updateCartCount);
