extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            h2.text-center Забравена парола?
            p.text-center Въведете вашия имейл адрес и ще ви изпратим линк за нулиране на паролата.
            form(action="/users/forgot-password" method="POST")
              .mb-3
                label.form-label(for="email") Имейл адрес
                input.form-control(type="email" name="email" id="email" required)
              .d-grid
                button.btn.btn-primary(type="submit") Изпрати линк за нулиране
