extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                section.section-area
                    img.section-area-img(src='/images/background.jpg' alt='bg-image')
                    .registerbox
                        img.logo(src='/images/Login-img.jpg' alt='User Logo')
                        h2 Регистрация
                        form#signupForm(method='POST', action='/users/register')
                            label(for='firstName') Име
                            input.form-control(type='text', id='firstName', name='firstName', placeholder='Въведете вашето име', required)
                            
                            label(for='lastName') Фамилия
                            input.form-control(type='text', id='lastName', name='lastName', placeholder='Въведете вашата фамилия', required)
                            
                            label(for='email') Имейл
                            input.form-control(type='email', id='email', name='email', placeholder='Въведете вашия имейл', required)
                            
                            label(for='password') Парола
                            input.form-control(type='password', id='password', name='password', placeholder='Въведете парола', required)
                            
                            label(for='password2') Повтори парола
                            input.form-control(type='password', id='password2', name='password2', placeholder='Повторете паролата', required)
                            
                            span#errorPassword.error(style='display:none; color:red; font-size:0.9rem;') Паролите не съвпадат
                            
                            input.btn.btn-primary(type='submit', value='Регистрация')

    script.
        const validatePassword = function(password) {
            const errorList = [];    
            
            const regexOneUpperCase = /[A-Z]/;
            if (!regexOneUpperCase.test(password)){
                errorList.push("at least one uppercase letter");
            }

            const regexOneLowerCase = /[a-z]/;
            if (!regexOneLowerCase.test(password)) {
                errorList.push('at least one lowercase letter');
            } 

            const regexOneDigit = /[0-9]/;
            if (!regexOneDigit.test(password)) {
                errorList.push('at least one digit');
            }

            const regexOneSpecialChar = /[@$!%*?&]/;
            if (!regexOneSpecialChar.test(password)) {
                errorList.push('at least one special character (@$!%*?&)');
            }

            if (password.length < 8) {
                errorList.push('at least 8 characters');
            }

            return errorList.length === 0 ? true : errorList.join(", ");
        };

        document.getElementById("signupForm").addEventListener("submit", async (event) => {
            event.preventDefault();

            let firstName = document.getElementById("firstName").value;
            let lastName = document.getElementById("lastName").value;
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            let password2 = document.getElementById("password2").value;
            let error = document.getElementById("passwordError");

            let errorMessage = "";

            // Validate Password
            let passwordValidation = validatePassword(password);
            if (passwordValidation !== true) {
                errorMessage = `Password must have: ${passwordValidation}`;
            }

            if (password !== password2) {
                errorMessage = "The passwords do not match.";
            }

            if (errorMessage != "") {
                error.innerHTML = errorMessage;
                return;
            }

            // Submit the form directly
            document.getElementById("signupForm").submit();
        });
