extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .alert.alert-success.text-center
          h4 Паролата беше нулирана успешно
          p Вече можете да влезете с новата си парола.
          a.btn.btn-primary(href="/users/login") Вход
