extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card
          .card-body
            h2.text-center Създаване на нова парола
            p.text-center Въведете нова парола за вашия акаунт.
            form(action=`/users/reset-password/${token}` method="POST")
              .mb-3
                label.form-label(for="password") Нова парола
                input.form-control(type="password" name="password" id="password" required)
              .mb-3
                label.form-label(for="confirm-password") Потвърдете новата парола
                input.form-control(type="password" name="confirm-password" id="confirm-password" required)
              .d-grid
                button.btn.btn-success(type="submit") Запази новата парола
