extends ../layout

block content
    .container.mt-5(style="max-width: 90%;")
        .card.shadow
            .card-header.bg-primary.text-white
                h4.text-center Добавяне на продукт
            .card-body
                form(action='/products/new' method='POST') 
                    .mb-3
                        label(for="name" class="form-label") Наименование
                        input#name.form-control(type="text" name="name" placeholder="Въведете наименование")
                    .mb-3
                        label(for="model" class="form-label") Модел
                        input#model.form-control(type="text" name="model" placeholder="Въведете модел")
                    .mb-3 
                        label(for="length" class="form-label") Дължина
                        input#length.form-control(type="text" name="length" placeholder="Въведете дължина")
                    .mb-3 
                        label(for="material" class="form-label") Материал
                        input#material.form-control(type="text" name="material" placeholder="Въведете материал")  
                    .mb-3 
                        label(for="price" class="form-label") Цена
                        input#price.form-control(type="number" step="0.01" name="price" placeholder="Въведете цена" required)
                    .mb-3 
                        label(for="imageUrl" class="form-label") Снимка (URL)
                        input#imageUrl.form-control(type="text" name="imageUrl" placeholder="Въведете URL на изображение")
                    button.btn.btn-primary.w-100(type="submit") Добавяне
